body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    48deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(14, 9, 121, 1) 29%,
    rgba(10, 72, 163, 1) 53%,
    rgba(0, 212, 255, 1) 100%
  );
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
.wholeDiv {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: auto;
  margin-top: 35px;
}

.title {
  margin-left: 4.9rem;
  font-size: 3rem;
  font-family: sans-serif;
  color: white;
}
.input {
  border: 1px solid #aaa;
  width: 27rem;
  height: 2.2rem;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 2px;
  margin: 2px;
  margin-right: 5px;
  outline: none;
  color: #666464;
}
.input:focus {
  border-color: rgb(238, 238, 238);
  box-shadow: 10px, 10px, 8px, 10px rgb(241, 242, 245);
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  background-color: blue;
  border-radius: 0px;
  color: rgb(20, 109, 20);
  font-size: 3rem;
  background-color: rgb(4, 236, 4);
  margin-top: 3px;
}
.btn1:hover {
  cursor: pointer;
  background-color: green;
  transition: ease-in-out 0.1s;
}
.list {
  margin-top: 1rem;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7rem;
  color: rgb(39, 37, 34);
  height: 2.4rem;
  font-family: sans-serif;
  padding: 4px;
  background-color: #ffffff;
  margin: 5px;
}

.btnD {
  height: 2.4rem;
  width: 2.3rem;
  background-color: rgba(219, 14, 14, 0.411);
  border-radius: 0px;
  border: 0px;
  transition: ease-in-out 0.2s;
}
.btnD:hover {
  cursor: pointer;
  transform: scale(0.9);
}
